<h1>New Pokemon</h1>

<% if @errors %>
  <% @errors.each do |error| %>
  <p><%= error %></p>
  <% end %>
<% end %>

<%= form_tag '/pokemons', method: 'post' do %>
  <label for="species">Species</label>
  <input type="text" name="species">

  <label for="nickname">Nickname</label>
  <input type="text" name="nickname">

  <label for="level">Level</label>
  <input type="text" name="level">

  <button type="submit">Create Pokemon</button>
<% end %>
